*{
    box-sizing: border-box;
}

.selectArea{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap:100px;
}
.top{
    background-color: rgb(215, 211, 211);
    padding: 15px;
    
}

input[type=text],[type="date"], select{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing:border-box;
}

.card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    width: 50%;
    margin:auto;
}

.insuranceCard{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    width: 50%;
    margin:auto;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 10px;
}

.insuranceList{
    width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    padding: 20px;
    margin-top: 20px;
   
}

h2{
    text-align: center;
}

.danger{
    color: red;
}

/* Modal Style */

.modal{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    background-color: rgb(231, 227, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 500px;
    background-color: rgb(201, 198, 198);
}

.modal-header, .modal-footer{
    padding: 10px;
}

.modal-title{
    margin:0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}




